@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
main{
    background-color: #24211E;
}


/*Inicio do menu ---------------------------------------------*/


header {
    width: 100%;
    background-color: #24211E;
}
.nav-list {
    display: flex;
    padding-top: 40px;
    text-align: center;
    justify-content: space-around;
}
.menu_btn {
    font-size: 1.2em;
    padding-left: 1%;
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 3px;
}

a:hover {
    color: #E58E13;
    transition: 0.4s;
}
@media (max-width: 917px) {

    .nav-list {
        display: flex;
        padding-top: 40px;
        text-align: center;
        justify-content: space-around;
    }
    .menu_btn {
        font-size: 1.0em;
        padding-left: 1%;
        color: aliceblue;
        text-decoration: none;
        letter-spacing: 3px;
    }
  
}
@media (max-width: 800px) {

    .nav-list {
        display: flex;
        padding-top: 40px;
        text-align: center;
        justify-content: space-around;
    }
    .menu_btn {
        font-size: 0.9em;
        padding-left: 1%;
        color: aliceblue;
        text-decoration: none;
        letter-spacing: 3px;
    }
  
}
@media (max-width: 720px) {

    .nav-list {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        text-align: center;
    }
    .menu_btn {
        font-size: 0.9em;
        color: aliceblue;
        text-decoration: none;

    }
  
}


/*Fim menu ---------------------------------------------*/

/*Inicio Banner ---------------------------------------------*/

.image-container{
    width: 100%; 
    height: auto;
    margin-top: 20px;
}
.seta{
    color: #E58E13;
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
    margin-left: 50%;
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}


/*Fim Banner ---------------------------------------------*/

/*Inicio Quem SOu ---------------------------------------------*/

.quem_sou{
    text-align: center;
    padding-top: 30px;
}
.quem_sou h1{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
     

.quem_sou_container{
    padding-top: 60px;
}
.quem_sou_container p{
    color: aliceblue;
    background-color: #C3792F;
    padding: 25px;
    width: 50%;
    font-size: 1.3em;
    box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);
}
.quem_sou_container p span{
    color: black;
    background-color: #C3792F;
}


/*Fim Quem Sou ---------------------------------------------*/

/*Inicio Formação ---------------------------------------------*/


.formacao_container{
    display: flex;
    flex-direction: column;
}
.formacao{
    text-align: center;
    padding-top: 70px;
    width: 100%;
}
.formacao h1{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


/*Fim Formação ---------------------------------------------*/

/*Inicio Time line ---------------------------------------------*/


.timeline{
    position: relative;
    margin: 50px auto;
    width: 100%
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    background-color: #C3792F;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    line-height: normal;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    margin-left: 65%;
    
}
.txtEtec{
    color: aliceblue;
    background-color: #C3792F;
    padding: 25px;
    width: 50%;
    font-size: 1.3em;
    box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);

}
.txtUnicid{
    color: aliceblue;
    background-color: #C3792F;
    padding: 25px;
    width: 50%;
    font-size: 1.3em;
    margin-left: 70px;
    box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);

}
#imgEtec{
    width: 450px;
    padding-top: 50px;
    padding-right: 80px;
}
#imgUnicid{
    width: 350px;
    padding-top: 50px;
    margin-left: 70px;
}
.timeline span{
    color: black;
    background-color: #C3792F;
}
@media (max-width: 1100px) {
    .txtEtec{
        color: aliceblue;
        background-color: #C3792F;
        padding: 25px;
        width: 50%;
        font-size: 0.9em;
        box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);
    
    }
    .txtUnicid{
        color: aliceblue;
        background-color: #C3792F;
        padding: 25px;
        width: 50%;
        font-size: 0.9em;
        margin-left: 70px;
        box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);
    
    }
    #imgEtec{
        width: 450px;
        padding-top: 50px;
        padding-right: 15   0px;
    }
    #imgUnicid{
        width: 200px;
        padding-top: 50px;
        margin-left: 70px;
    }
}

@media (max-width: 700px) {
    .txtEtec{
        color: aliceblue;
        background-color: #C3792F;
        padding: 25px;
        width: 50%;
        font-size: 0.7em;
        box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);
    
    }
    .txtUnicid{
        color: aliceblue;
        background-color: #C3792F;
        padding: 25px;
        width: 50%;
        font-size: 0.7em;
        margin-left: 70px;
        box-shadow:  5px 4px 15px rgba(0, 0, 0, 0.39);
    
    }
    #imgEtec{
        width: 430px;
        padding-top: 50px;
        padding-right: 15   0px;
    }
    #imgUnicid{
        width: 130px;
        padding-top: 50px;
        margin-left: 70px;
    }
}


/*Fim Time line ---------------------------------------------*/

/*Inicio Tecnologias ---------------------------------------------*/


.tecnologias_text{
    text-align: center;
    padding-top: 70px;
    width: 100%;
}
.tecnologias_text h2{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.tecnologias_text h1{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/*Fim Tecnologias ---------------------------------------------*/

/*Inicio Projetos ---------------------------------------------*/


.projetos{
    text-align: center;
    padding-top: 70px;
    width: 100%;
}
.projetos h1{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.projetos img{
    width: 200px;
    padding-top: 50px;
}
.projetos p{
    color: aliceblue;
    font-size: 1.5em;
    flex-wrap: wrap;
    padding-top: 30px;
}
.projetos span{
    color: #E58E13;
}


/*Fim Projetos ---------------------------------------------*/

/*Inicio Contatos ---------------------------------------------*/


.contatos{
    text-align: center;
    padding-top: 70px;
    width: 100%;
}
.contatos h1{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.contatos p{
    color: aliceblue;
    font-size: 1.3em;
}
.contatos a{
    color: aliceblue;
    font-size: 1em;
    text-decoration: none;
}
.contatos a:hover {
    color: #E58E13;
    text-decoration: underline;
}


/*Fim Projetos ---------------------------------------------*/

/*Inicio Footer ---------------------------------------------*/



footer{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #C3792F;
}
#btn_voltar{
    color: black;
    text-decoration: none;
}
#btn_voltar:hover{
    text-decoration: underline;
}